:root {
  --default-bg-color: #18191a;
  --default-text-color: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a,
html {
  color: var(--default-text-color);
}

a {
  text-decoration: none;
}

html {
  background-color: var(--default-bg-color);
}

html > .content {
  position: relative;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

/* PRIMARY HEADER & NAV */

.logo {
  --length: 30px;
  width: var(--length);
  height: var(--length);
  background-image: url(https://cdn-icons-png.flaticon.com/512/3724/3724190.png);
  /* <a href="https://www.flaticon.com/free-icons/onigiri" title="onigiri icons">Onigiri icons created by surang - Flaticon</a> */
  background-size: 100%;
}

.primary-header {
  padding: 24px 0 16px;
}

.primary-header > :first-child {
  gap: 8px;
}

.primary-nav {
  width: 100%;
  padding: 18px 0 16px;
  top: -2px; /* Fixes extra gap top */
  position: sticky;
  backdrop-filter: blur(8px);
  z-index: 100;
}

.primary-nav > :first-child {
  width: min(100%, 460px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 12px;
}

.primary-nav a {
  text-transform: uppercase;
}

.primary-nav a:hover {
  text-decoration: underline;
}

section:first-of-type {
  height: 600px;
}

section {
  height: 768px;
}

section > :first-child {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  height: 100%;
  padding: 40px;
}

.image, 
section .content {
  grid-row: 1 / -1;
}

.image {
  width: 640px;
  height: 420px;
  overflow: hidden;
  grid-column: 1 / 4;
  position: relative;
  border-radius: 160px 60px;
}

img {
  width: 100%;
  bottom: -200px;
  position: absolute;
}

section .content {
  grid-column: 3 / -1;
  z-index: 10;
  padding: 24px 30px;
  background-color: var(--default-bg-color);
  border-radius: 20px 40px;
}