:root {
  --default-bg-color: #18191a;
  --default-text-color: #e6e6e6;
  --default-text-link-color: white;
  --default-text-secondary-color: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a,
html {
  color: var(--default-text-color);
}

a {
  text-decoration: none;
}

html {
  background-color: var(--default-bg-color);
}

html,
body,
body > .content {
  min-height: 100vh;
}

body > .content {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.image-container {
  overflow: hidden;
  position: relative;
}

section img {
  position: absolute;
}

/* PRIMARY HEADER & NAV */

.logo {
  --length: 30px;
  width: var(--length);
  height: var(--length);
  background-image: url(./images/logo.png);
  background-size: 100%;
}

.primary-header {
  padding: 24px 0 16px;
}

.primary-header > .content-wrap {
  gap: 8px;
}

.primary-nav {
  width: 100%;
  padding: 18px 0 16px;
  top: -2px; /* Fixes extra gap top */
  position: sticky;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 100;
}

.primary-nav > .content-wrap {
  width: min(100%, 460px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 12px;
}

.primary-nav button {
  color: var(--default-text-color);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.primary-nav button:hover {
  text-decoration: underline;
}

.primary-nav button.current {
  text-decoration: none;
  color: var(--default-text-link-color);
  cursor: default;
}

/* MAIN CONTENT */

.home-section:first-of-type {
  height: 600px;
}

.home-section {
  height: 800px;
}

.home-section > .content-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  height: 100%;
  padding: 40px;
}

.home-section .content,
.image-container {
  grid-row: 1 / -1;
}

.home-section .content {
  z-index: 10;
  padding: 24px 36px;
  background-color: var(--default-bg-color);
}

.home-section-1 .image-container {
  width: 640px;
  height: 420px;
  grid-column: 1 / 4;
  border-radius: 160px 60px;
}

.home-section-1 img {
  width: 100%;
  bottom: -200px;
}

.home-section-1 .content {
  grid-column: 3 / -1;
  border-radius: 20px 40px;
  padding-bottom: 32px;
}

.home-section-2 .image-container {
  width: 420px;
  height: 620px;
  grid-column: 3 / -1;
  border-radius: 60px 120px;
}

.home-section-2 img {
  height: 100%;
  left: -28px;
}

.home-section-2 .content {
  grid-column: 1 / 4;
  border-radius: 30px 40px 80px;
  transform: translateX(30px);
  padding-bottom: 40px;
}

.home-section-2 h2 {
  padding-left: 6px;
}

.hours-table {
  text-align: left;
}

.hours-table th,
.hours-table td {
  padding: 4px 24px 4px 4px;
}

.hours-table th:last-child,
.hours-table td:last-child {
  padding: 4px;
}

.hours-table th[scope="row"] {
  font-weight: 500;
}

.home-section-3 .image-container {
  width: 640px;
  height: 580px;
  grid-column: 1 / 5;
  border-radius: 200px 100px;
  justify-self: start;
  margin-left: 60px;
}

.home-section-3 img {
  height: 100%;
  left: -52px;
}

.home-section-3 .content {
  grid-column: 3 / -1;
  width: 300px;
  border-radius: 30px 48px;
  justify-self: start;
  align-self: end;
  margin-left: 120px;
  margin-bottom: 176px;
  padding: 24px 36px 30px;
}

/* FOOTER */

footer {
  padding-bottom: 80px;
}

footer > .content-wrap {
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
}

footer .credits-container {
  text-align: right;
}

footer h3 {
  padding-bottom: 8px;
}

footer p {
  padding-bottom: 4px;
}

footer a,
footer .name {
  color: var(--default-text-link-color);
}

footer a:hover {
  text-decoration: underline;
}

/* MENU */

.menu-section {
  padding: 40px 0 80px;
}

.menu-section + .menu-section {
  padding-top: 0;
}

.product {
  height: 360px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 80px;
  align-items: center;
}

.product .image-container {
  width: 260px;
  height: 260px;
  border-radius: 80px 40px;
}

.menu-section:nth-of-type(even) .product:nth-of-type(odd) .image-container,
.menu-section:nth-of-type(odd) .product:nth-of-type(even) .image-container {
  border-radius: 40px 80px; 
}

.product .content {
  grid-row: 1 / -1;
  max-width: 640px;
  padding-right: 80px;
}

.menu-section:nth-of-type(even) .product:nth-of-type(odd) .content,
.menu-section:nth-of-type(odd) .product:nth-of-type(even) .content {
  grid-column: 1;
  padding: 0 0 0 80px;
}

.product .product-name {
  font-size: 1.8rem;
}

.product .english-name {
  color: var(--default-text-secondary-color);
}

.product .description {
  margin: 8px 0 16px;
}

.product .price {
  font-size: 1.2rem;
  font-weight: 600;
}

.product .quantity {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--default-text-secondary-color);
}